.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  
}

.neon-border {
  position: relative;
  padding: 10rem;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  animation: neon-animation 1.5s ease-in-out infinite;
}

@keyframes neon-animation {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
}

.card-content {
  text-align: center;
  color: white;
  background-image: '../public/assets/img/eu2.jpg';
}

.card-content h2 {
  font-size: 2rem;
  font-family: 'Space Mono', monospace;
}

.card-content p {
  font-size: 3rem;
  font-family: 'Space Mono', monospace;
}



