.container-magic {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
.container-magic:hover {
  cursor: crosshair;
}
.text {
  position: absolute;
  font-size: 72px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  bottom: 20%;
  left: 0;
  right: 0;
  z-index: 3;
}
.magic {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  z-index: 2;
}
.card-content {
  text-align: center;
  
}
.card-content p {
  font-size: 3rem;
  font-family: 'Space Mono', monospace;
} 
.neon-border {
  position: relative;
  padding: 10rem;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  animation: neon-animation 1.5s ease-in-out infinite;
}

@keyframes neon-animation {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
}