.container-magic {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}
.container-magic:hover {
  cursor: crosshair;
}
.text {
  position: absolute;
  font-size: 72px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  bottom: 20%;
  left: 0;
  right: 0;
  z-index: 3;
}
.magic {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  width: 20rem;
  height: 20rem;
  background: center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  z-index: 2;
}
.card-content {
  text-align: center;
  
}
.card-content p {
  font-size: 3rem;
  font-family: 'Space Mono', monospace;
} 
.neon-border {
  position: relative;
  padding: 10rem;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  animation: neon-animation 1.5s ease-in-out infinite;
}

@keyframes neon-animation {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  }
}
.divider-custom{
  padding-top: 3rem;

}
.siRuby{
  color: #012952;
  margin: 0,5rem;
  width: 20vmin;
  height: 20vmin;
  background-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.8), 0 0 70px rgba(0, 255, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.8), 0 0 100px rgba(0, 255, 255, 0.8), 0 0 150px rgba(0, 255, 255, 0.8);
  
}
.siHtml{
  color: #012952;
  margin: 5rem;
  width: 20vmin;
  height: 20vmin;
  background-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.8), 0 0 70px rgba(0, 255, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.8), 0 0 100px rgba(0, 255, 255, 0.8), 0 0 150px rgba(0, 255, 255, 0.8);
}
.siCss{
  color: #012952;
  width: 20vmin;
  height: 20vmin;
  background-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.8), 0 0 40px rgba(0, 255, 255, 0.8), 0 0 70px rgba(0, 255, 255, 0.8), 0 0 80px rgba(0, 255, 255, 0.8), 0 0 100px rgba(0, 255, 255, 0.8), 0 0 150px rgba(0, 255, 255, 0.8);
}
.neon-bt {

  position: relative;

  display: inline-block;

  padding: 10px 20px;

  color: #03e9f4;

  font-size: 16px;

  text-decoration: none;

  text-transform: uppercase;

  overflow: hidden;

  transition: 0.2s;

  margin-top: 40px;

  letter-spacing: 4px

}

 

.neon-bt:hover {

  background: #03e9f4;

  color: #fff;

  border-radius: 5px;

  box-shadow: 0 0 5px #03e9f4,

              0 0 25px #03e9f4,

              0 0 50px #03e9f4,

              0 0 100px #03e9f4;

}

 

 

/*animação do span para criar linhas*/

 

 

.neon-bt span {

  position: absolute;

  display: block;

}

 

 

/*span 1*/

.neon-bt span:nth-child(1) {

  top: 0;

  left: -100%;

  width: 100%;

  height: 2px;

  background: linear-gradient(90deg, transparent, #03e9f4);

  animation: btn-anim1 1s linear infinite;

}

 

@keyframes btn-anim1 {

  0% {

    left: -100%;

  }

  50%,100% {

    left: 100%;

  }

}

 

/*span 2*/

.neon-bt span:nth-child(2) {

  top: -100%;

  right: 0;

  width: 2px;

  height: 100%;

  background: linear-gradient(180deg, transparent, #03e9f4);

  animation: btn-anim2 1s linear infinite;

  animation-delay: .25s

}

 

@keyframes btn-anim2 {

  0% {

    top: -100%;

  }

  50%,100% {

    top: 100%;

  }

}

 

 

/*span 3*/

 

.neon-bt span:nth-child(3) {

  bottom: 0;

  right: -100%;

  width: 100%;

  height: 2px;

  background: linear-gradient(270deg, transparent, #03e9f4);

  animation: btn-anim3 1s linear infinite;

  animation-delay: .5s

}

 

@keyframes btn-anim3 {

  0% {

    right: -100%;

  }

  50%,100% {

    right: 100%;

  }

}

 

/*span 4*/

 

.neon-bt span:nth-child(4) {

  bottom: -100%;

  left: 0;

  width: 2px;

  height: 100%;

  background: linear-gradient(360deg, transparent, #03e9f4);

  animation: btn-anim4 1s linear infinite;

  animation-delay: .75s

}

 

@keyframes btn-anim4 {

  0% {

    bottom: -100%;

  }

  50%,100% {

    bottom: 100%;

  }

}